aai/AiSummaryAgent.json
{
  "name": "AI Agent workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        880,
        736
      ],
      "id": "86980dd6-1cf9-48e7-a85a-ab63c3c8348d",
      "name": "Get Tech News"
    },
    {
      "parameters": {
        "toolDescription": "Reads the news",
        "url": "=https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        1008,
        736
      ],
      "id": "29470ffc-917e-4744-b5f4-bdd47431857c",
      "name": "Get World News"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        528,
        608
      ],
      "id": "5d896d51-b989-4c6c-8027-46d5cbbb7251",
      "name": "Run every day at 7AM",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85b5c530-2c13-4424-ab83-05979bc879a5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        512
      ],
      "id": "4d66675a-e3e1-497a-8709-bfc84b8d4b4f",
      "name": "Output",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        528,
        416
      ],
      "id": "909c18a6-1a78-490c-abce-63de9b164c30",
      "name": "Click ‘Execute workflow’ to run"
    },
    {
      "parameters": {
        "content": "## ⚡ Start here:",
        "height": 240,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        336
      ],
      "id": "b43d9d0b-c147-435c-8470-8ca539422335",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        736
      ],
      "id": "85ccc5b6-2a84-4921-a36c-300a64491587",
      "name": "OpenAI Model",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "zBT1VgV5eAt7zDj0",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize world news and tech news from the last 24 hours. \nSkip your comments. \nThe titles should be \"World news:\" and \"Tech news:\" \nToday is {{ $today }}\nAlso, add my google calendar event for today with title \"My Schedule:\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        880,
        512
      ],
      "id": "23b54cbc-999c-4165-81eb-86e872b707d6",
      "name": "AI Summary Agent",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "content": "### Double click here to see the results:",
        "height": 240,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1296,
        432
      ],
      "id": "183ad560-91cd-4bad-b691-9892ef9687f0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### 📰 Daily AI Summary\n\n\nThis workflow gets the latest news and asks AI to summarize it for you.\n\n⭐ Bonus: Get your calendar events.\n\n⭐ Bonus: Send the summary via email by connecting your Gmail account.\n\n@[youtube](cMyOkQ4N-5M)\n\n@[youtube](FwOTs4UxQS4)",
        "height": 672,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        224
      ],
      "id": "8ace494a-0129-428a-8155-3b0c4b10bb39",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "myra.haubrich@sjsu.edu",
        "subject": "Your news daily summary",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        512
      ],
      "id": "483d9268-f76a-4c20-834e-cb3c1630aa51",
      "name": "Send summary by email",
      "webhookId": "093b04f1-5e78-4926-9863-1b100d6f2ead",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "vrOQ84xAg7yxiOH3",
          "name": "Gmail account 7"
        }
      },
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "myra.haubrich@gmail.com",
          "mode": "list",
          "cachedResultName": "myra.haubrich@gmail.com"
        },
        "timeMax": "={{ $now.plus({ hour: 24 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1136,
        736
      ],
      "id": "4528627c-6678-43c7-bff3-4f97d1f5519c",
      "name": "Get My Schedule",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "reczGcNfoy8n134H",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Tech News": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get World News": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Run every day at 7AM": {
      "main": [
        [
          {
            "node": "AI Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click ‘Execute workflow’ to run": {
      "main": [
        [
          {
            "node": "AI Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary Agent": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "Send summary by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get My Schedule": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a2bf95f-c06d-4846-b7a6-21c67eb7a517",
  "meta": {
    "instanceId": "c0f22b13542ebf4f32f1a5167e7230976e610c6e6693871f309ff229ef6c0d47"
  },
  "id": "BdY17VgtP61Y0fav",
  "tags": []
}
